﻿@model IEnumerable<VirtualServer>
<script>
    function removeSelected() {
        var forRemove = [];
        var cbses = $('.for-remove');
        for (var i = 0; i < cbses.length; i++) {
            if (cbses[i].checked && !cbses[i].disabled)
                forRemove.push(cbses[i].id);
        }
        if (forRemove.length>0)
         location.href = '/server/remove?ids=' + forRemove.join(',');

    }

    </script>
<div class="jumbotron">
    <div class="row">
        <a class="col-sm-2 btn btn-success btn-sm" href="/server/add">
            Add new
        </a>
        <div class="col-sm-2 btn btn-danger btn-sm" onclick="removeSelected()">
            Remove selected
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="col-sm-3 text-muted">
                CurrentDateTime
            </span>
            <span class="col-sm-6">
                @DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="col-sm-3 text-muted">
                TotalUsageTime
            </span>
            <span class="col-sm-6">
                @string.Format("{0:hh\\:mm\\:ss}", ViewBag.TotalTime)
            </span>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">VirtualServerId</th>
                <th scope="col">CreateDateTime</th>
                <th scope="col">RemoveDateTime</th>
                <th scope="col">SelectedForRemove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in Model)
            {
                <tr>
                    <th scope="row">@server.Id</th>
                    <td>@server.CreateDateTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@server.RemoveDateTime?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td><input type="checkbox" class="for-remove" id="@server.Id" @(server.Removed ? "checked disabled" : "") /></td>
                </tr>

            }
        </tbody>
    </table>

</div>